[Desktop Entry]
Exec=devuanwelcome
Icon=devuanwelcome
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;
NotShowIn=KDE;
StartupNotify=false
Name=Welcome Screen
Comment=Introduction to Devuan 
Name[en_GB]=devuanwelcome.desktop
