Source: devuanwelcome
Section: admin
Priority: optional
Maintainer:Antonio Volpicelli <nioanto@live.it>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: devuanwelcome
Architecture: all
Depends: python3 (>= 3.3),
         python3-gi,
         ${misc:Depends},
		 devuancommon
Description: Welcome screen for Devuan Gnu/Linux
 Shows important information about the release/edition of Linux Mint.
