[Desktop Entry]
Encoding=UTF-8
Name=devuanwelcome
Comment=Devuan Welcome Screen
Icon=gnome-info
Exec=devuanwelcome-launcher
Terminal=false
Type=Application
Categories=desktop

Name=devuanwelcome.desktop
